@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* color Section */

.Bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primany {
  font-size: 1rem;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 144, 14, 1);
  color: white;
}

/* Header Section */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

.nav-menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
.nav-menu ul a {
  text-decoration: none;
}
.band {
  font-size: 2.8125rem;
}
.for-margin,
section {
  max-width: 1440px;
  margin: 0 auto;
}
.group-3 {
  text-align: center;
  max-width: 850px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 700;
  font-size: 4rem;
}
.hero-bg {
  margin-top: 50px;
  padding-bottom: 50px;
}
.hero-bg img {
  width: 100%;
}

.Quick-container {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.Quick-photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.Quick-photo img {
  width: 100%;
}
.Quick-info {
  max-width: 537px;
  margin-left: 70px;
}
.Quick-info h3 {
  font-size: 3rem;
}

/* Features Section */

.Features-title{
  border-left: 5px solid rgba(255, 144, 14, 1);
  padding-left: 20px;
}
.Features{
  display: flex;
  margin-top: 130px;
  gap: 130px;
}
.Features-card-title{
  font-size: 1.25rem;
  margin-top: 15px;
  margin-bottom: 15px;
}
.Features-card{
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 25px;
  padding: 30px 40px;
  border-radius: 8px;
}
.experiance-year{
  font-size: 600;
  font-size: 4.063rem;
}
#experiancesrd{
  margin-left: -100px;
  margin-top: -100px;
}
.arcitects-pic img{
  
}
.card-marg{
  margin-top: 30px;
}
.Facts-first {
  margin-top: 130px;
  max-width: 542px;
}

.fact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.fact-box {
  border: 1px solid rgba(255, 144, 14, 1);
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Sponspors {
  text-align: center;
  margin: 50px auto;
}
.Sponspor-pic {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
}
.Sponspor-pic img {
  filter: grayscale(100%);
}
.footer-container{
  margin-top: 120px;
}
.footer-content{
  text-align: center;
  background-color: rgba(255, 244, 231, 1);

}
.footer-content p{
  padding-top: 20px;
  padding-bottom: 20px;
}


@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }
  .Quick-container {
    flex-direction: column;
  }
  .Quick-photo {
    grid-template-columns: repeat(1fr);
  }
  .Quick-info {
    margin-left: 5px;
  }
  .fact-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .Sponspor-pic {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 30px;
  }
}
